In [ ]:
print("Hello world!") # Prints whatever you send it

Hello world!

In [ ]:
# Different data types and variable assignments
a = 10 # Integer
b = 4.5 # Float
c = "hello" # String
d = [a, b, c] # List
e = {"integer": a, "float": b, "string": c} # Map
f = True # Boolean

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

10
4.5
hello
[10, 4.5, 'hello']
{'integer': 10, 'float': 4.5, 'string': 'hello'}
True

In [ ]:
# List
d[0] = f # d[0] accesses the 1st element in d
print(d[0])
print(d[1])
print(d[2])
print(d[-1], d[-2], d[-3])

True
4.5
hello
hello 4.5 True

In [ ]:
# Basic math operations
print(a < b)
print(a + b)
print(b - a)
print(b * a)
print(a / b)
print(a // b)

False
14.5
-5.5
45.0
2.2222222222222223
2.0

In [ ]:
# Conditional statements
a = 10
if a > b:
    print(a, "is greater than", b)
else:
    print(a, "is lesser than", b)

10 is greater than 4.5

In [ ]:
# Functions
def compare_numbers(num1, num2):
    if num1 > num2:
        print(num1, "is greater than", num2)
    elif num1 == num2:
        print(num1, "is equal to", num2)
    else:
        print(num1, "is lesser than", num2)

In [ ]:
compare_numbers(a, b)

10 is greater than 4.5

In [ ]:
compare_numbers(4.0, 4)

4.0 is equal to 4

In [ ]:
compare_numbers(3, 9)

3 is lesser than 9

In [ ]:
# Looping over a range of numbers
for i in range(1, 6):
    print(i, end=',')

1,2,3,4,5,

In [ ]:
# Looping over a list
for element in d:
    print(element)

In [ ]:
for i in range(len(d)):
    print(d[i])

In [ ]:
# Looping over a dictionary
for key in e:
    print(key, e[key])

In [ ]:
# While loop -> while <condition is satisfied> do something
i = 1
while i < 6:
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
# Import a module (code written by other people)
import numpy as np

In [ ]:
# Use the functions written inside the module
h = np.array(d) # https://numpy.org/doc/stable/reference/generated/numpy.array.html
h